---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
import BlogCard from "src/components/BlogCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="lxb-linkedin">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Auto Quote Tracker TikTok
      </div>
      <a href="https://www.tiktok.com/@autoquotetracker" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//aqt-tiktok.png"
          alt="Auto Quote Tracker TikTok Profile"
        /></a
      >
      <Stats
        stattitle1="Video views"
        stat1="15k"
        desc1="per month"
        stattitle2="Accounts reached"
        stat2="13.9k"
        desc2="per month"
      />
    </div>
    <div>
      <p>
        <b>Overview:</b>
        <br />
        As we aimed to increase shopping and sign-ups with Auto Quote Tracker, we
        launched a TikTok to raise brand awareness and drive traffic to the website.
      </p>
      <br />
      <p>
        We tested a variety of formats and content types to analyze performance
        and build a content calendar each week based on the results. Using this
        strategy, we built a repeatable process to batch create content and
        yield an average of 3k views per week within 5 months.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Review account analytics and social media trends on a weekly basis
            to inform planning
          </li>
          <li>• Build and execute a content calendar of 5 posts per week</li>
          <li>
            • Engage with commenters and other creators in the personal finance
            and auto spaces to increase brand reach
          </li>
        </ul>
      </p>
    </div>
    <div>
      <div class="text-3xl w-full font-bold mb-5 pt-10">Example Posts</div>
    </div>
    <div class="flex flex-row gap-6">
      <blockquote
        class="tiktok-embed"
        cite="https://www.tiktok.com/@autoquotetracker/video/7547716048544386334"
        data-video-id="7547716048544386334"
        style="max-width: 605px;min-width: 325px;"
      >
        <section>
          <a
            target="_blank"
            title="@autoquotetracker"
            href="https://www.tiktok.com/@autoquotetracker?refer=embed"
            >@autoquotetracker</a
          > Like is that how much we’re all paying?? <a
            title="carinsurance"
            target="_blank"
            href="https://www.tiktok.com/tag/carinsurance?refer=embed"
            >#carinsurance</a
          >
          <a
            title="budgeting"
            target="_blank"
            href="https://www.tiktok.com/tag/budgeting?refer=embed"
            >#budgeting</a
          >
          <a
            title="personalfinance"
            target="_blank"
            href="https://www.tiktok.com/tag/personalfinance?refer=embed"
            >#personalfinance</a
          >
          <a
            title="insurancequote"
            target="_blank"
            href="https://www.tiktok.com/tag/insurancequote?refer=embed"
            >#insurancequote</a
          >
          <a
            title="insurancerenewal"
            target="_blank"
            href="https://www.tiktok.com/tag/insurancerenewal?refer=embed"
            >#insurancerenewal</a
          >
          <a
            target="_blank"
            title="♬ som original - GoodMusicTipografias"
            href="https://www.tiktok.com/music/som-original-6962176015439334149?refer=embed"
            >♬ som original - GoodMusicTipografias</a
          >
        </section>
      </blockquote>
      <script async src="https://www.tiktok.com/embed.js"></script>
      <blockquote
        class="tiktok-embed"
        cite="https://www.tiktok.com/@autoquotetracker/video/7545844749446466847"
        data-video-id="7545844749446466847"
        style="max-width: 605px;min-width: 325px;"
      >
        <section>
          <a
            target="_blank"
            title="@autoquotetracker"
            href="https://www.tiktok.com/@autoquotetracker?refer=embed"
            >@autoquotetracker</a
          > Spoiler: it wasn’t AI 👀 Get your quote at the link in bio! <a
            title="carinsurance"
            target="_blank"
            href="https://www.tiktok.com/tag/carinsurance?refer=embed"
            >#carinsurance</a
          >
          <a
            title="savemoney"
            target="_blank"
            href="https://www.tiktok.com/tag/savemoney?refer=embed"
            >#savemoney</a
          >
          <a
            title="budgeting"
            target="_blank"
            href="https://www.tiktok.com/tag/budgeting?refer=embed"
            >#budgeting</a
          >
          <a
            title="personalfinance"
            target="_blank"
            href="https://www.tiktok.com/tag/personalfinance?refer=embed"
            >#personalfinance</a
          >
          <a
            title="insurancequote"
            target="_blank"
            href="https://www.tiktok.com/tag/insurancequote?refer=embed"
            >#insurancequote</a
          >
          <a
            target="_blank"
            title="♬ original sound - Annalicia Goodman ᥫ᭡"
            href="https://www.tiktok.com/music/original-sound-7524530236944337678?refer=embed"
            >♬ original sound - Annalicia Goodman ᥫ᭡</a
          >
        </section>
      </blockquote>
      <script async src="https://www.tiktok.com/embed.js"></script>
      <blockquote
        class="tiktok-embed"
        cite="https://www.tiktok.com/@autoquotetracker/video/7534728367535443231"
        data-video-id="7534728367535443231"
        style="max-width: 605px;min-width: 325px;"
      >
        <section>
          <a
            target="_blank"
            title="@autoquotetracker"
            href="https://www.tiktok.com/@autoquotetracker?refer=embed"
            >@autoquotetracker</a
          > 11am drive to get iced coffee after morning rush hour 👌 <a
            title="carinsurance"
            target="_blank"
            href="https://www.tiktok.com/tag/carinsurance?refer=embed"
            >#carinsurance</a
          >
          <a
            title="savemoney"
            target="_blank"
            href="https://www.tiktok.com/tag/savemoney?refer=embed"
            >#savemoney</a
          >
          <a
            title="budgeting"
            target="_blank"
            href="https://www.tiktok.com/tag/budgeting?refer=embed"
            >#budgeting</a
          >
          <a
            title="personalfinance"
            target="_blank"
            href="https://www.tiktok.com/tag/personalfinance?refer=embed"
            >#personalfinance</a
          >
          <a
            title="taketheedgeoff"
            target="_blank"
            href="https://www.tiktok.com/tag/taketheedgeoff?refer=embed"
            >#taketheedgeoff</a
          >
          <a
            title="icedcoffee"
            target="_blank"
            href="https://www.tiktok.com/tag/icedcoffee?refer=embed"
            >#icedcoffee</a
          >
          <a
            target="_blank"
            title="♬ deep in it - berlioz"
            href="https://www.tiktok.com/music/deep-in-it-7202979845666540293?refer=embed"
            >♬ deep in it - berlioz</a
          >
        </section>
      </blockquote>
      <script async src="https://www.tiktok.com/embed.js"></script>
    </div>
  </div>
</BaseLayout>
