---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="auto-quote-tracker">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">Auto Quote Tracker</div>
      <a href="https://www.paved.com/blog/" target="_blank"
        ><img
          class="p-10"
          src="/auto-quote-tracker.png"
          alt="Auto Quote Tracker Home Page"
        /></a
      >
      <Stats
        stattitle1="Organic traffic (quarterly)"
        stat1="323"
        desc1="↗︎ 206 (176%)"
        stattitle2="Google SERP Impr."
        stat2="31.6k"
        desc2="↗︎ 25.5k (417%)"
      />
    </div>

    <div>
      <p>
        <b>Overview:</b>
        <br />
        Auto Quote Tracker is an auto insurance shopping website that also enables
        consumers to track their policy and get notified when their carrier has been
        approved for a rate change in their state.
      </p>
      <br />
      <p>
        We built a strategy to drive organic traffic to the website, aiming to
        maximize pay-per-click revenue from insurance shopping. This included a
        5x/week blog cadence, featuring timely news stories about upcoming rate
        changes, as well as SEO-optimized evergreen articles about auto
        insurance.
      </p>
      <br />
      <p>
        We also built landing pages to provide a more comprehensive user
        experience, including state-specific pages offering data and news
        stories for a targeted audience. We prioritized these efforts based on
        current users and revenue opportunity by geography.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborators:</b>
        CMO, Design team
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Tools:</b>
        Semrush, GA4, Google Search Console, Plausible, WordPress, Elementor, Gravity
        Forms, Canva, Gemini, Axiom
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Track auto insurance rate changes based on public filing data
          </li>
          <li>
            • Develop and execute content calendar focused on upcoming rate
            changes and SEO opportunities
          </li>
          <li>
            • Streamline content creation using GenAI and automated workflow
          </li>
          <li>
            • Monitor performance across the Auto Quote Tracker website and edit
            blogs and pages to maximize impact
          </li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
