---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="content-strategy">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Content Strategy</div>
  </div>
  <HorizontalCard
    title="Modives | Blog"
    img="/modives-blog.png"
    url="/modives-blog"
    desc="Ideating and executing a B2B content strategy to reach and engage audiences in the property and auto industries"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Auto Quote Tracker"
    img="/auto-quote-tracker.png"
    url="/auto-quote-tracker"
    desc="Building and implementing a strategy to leverage blogs and landing pages to generate traffic and PPC revenue"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Logixboard | Webinars"
    img="/lxb-webinar-screenshot.png"
    desc="Organizing thought leadership webinars for freight forwarding audiences to generate new leads and nurture prospects through the funnel"
    url="/logixboard-webinars"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Logixboard | Blog & Lead Magnets"
    img="/lxb-blog.png"
    desc="Developing and maintaining B2B content to engage freight forwarding prospects across the customer lifecycle"
    url="/logixboard-blogs"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Paved | SEO-Driven Content Calendar"
    img="/paved-blog.png"
    desc="Creating and executing content calendar based on relevant SEO opportunities around newsletter advertising"
    url="/paved-seo"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Paved | Community Building Content"
    img="/paved-community.png"
    desc="Coordinating and launching community-driven series that highlight creators within the newsletter space"
    url="paved-community"
    target="_self"
  />
</BaseLayout>
