---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m a marketing strategist with four years of experience building
    sustainable growth within early stage startups. My expertise is in achieving
    organic growth through a variety of specialties, including content
    marketing, partnerships, and customer education.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Marketing Coordinator at Modives"
      subtitle="From April 2024 to September 2025, Remote"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Created and executed Modives social media and blog calendars to
          maximize brand reach across the property and auto industries, leading
          to a 72% increase in organic website traffic and a 221% increase in
          LinkedIn followers over a twelve-month period
        </li>
        <li>
          Developed and implemented multi-pronged strategy to increase traffic
          to the Auto Quote Tracker website, including TikTok, Instagram, blog
          calendar, email campaigns, and sponsorships, resulting in a 176%
          increase in organic site visits
        </li>
        <li>
          Collaborated with CPO and engineering team to improve user onboarding
          experience by overhauling three key areas: customer enablement,
          educational resources, and automated communications
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Lifecycle Marketing Specialist at Logixboard"
      subtitle="From July 2022 to April 2024, Remote"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Ran content-driven awareness strategy to reach small to MM freight
          forwarders through building blog and social media calendars,
          increasing LinkedIn followers by 77% in a twelve-month period
        </li>
        <li>
          Executed lead generation campaign through gated white paper, webinar,
          and newsletter creation, resulting in 2500+ form fills over a
          twelve-month period
        </li>
        <li>
          Managed customer marketing calendar and webinar series to engage users
          and promote upsells, contributing to 101.7% in NRR and a 33% YoY
          increase in ARR in 2023
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Product Owner at IHS Markit"
      subtitle="From July 2021 to July 2022, New York, NY"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Led two remote full-stack dev teams in building and improving core
          features of a portfolio monitoring software for the financial services
          industry following the agile framework and scrum methodology
        </li>
        <li>
          Collaborated with UX designers and other product teams to assess
          customer needs, identify feature requirements, and outline quarterly
          product roadmap
        </li>
        <li>
          Educated internal stakeholders on new and upcoming product
          functionality through product releases and presentations at the
          monthly product update
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Contract Work</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Content Writer & Social Media Manager at Scholarships360 | February 2021
      to August 2024
    </li>
    <li>Content Manager at Paved | September 2021 to September 2022</li>
    <li>Content Writer at Candor | June 2020 to February 2022</li>
    <li>Content Intern at The Mom Project | September to November 2020</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tools and Platforms</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Marketing Platform</li>
    <li>Adobe Suite</li>
    <li>Microsoft Office</li>
    <li>HubSpot</li>
    <li>Twilio</li>
    <li>Salesforce</li>
    <li>Canva</li>
    <li>Figma</li>
    <li>WordPress</li>
    <li>SpyFu</li>
    <li>Semrush</li>
    <li>Heap</li>
    <li>Plausible</li>
    <li>Stripo</li>
    <li>Zoom Events</li>
  </ul>
</BaseLayout>
