---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="dog-photos">
  <div>
    <img class="rounded" src="/baby-hazel.jpeg" alt="Baby Hazel" />
  </div>
</BaseLayout>
