---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="logixboard-university">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Logixboard University Webinar Series
      </div>
      <a
        href="https://help.logixboard.com/en/articles/8638736-lxb-u-november-2023"
        target="_blank"
        ><img
          class="p-10"
          src="/logixboard-university.png"
          alt="Logixboard University Screenshot"
        /></a
      >
      <Stats
        stattitle1="Registrants"
        stat1="100+"
        desc1="per event"
        stattitle2="Attendance"
        stat2="40%"
        desc2="per event"
      />
    </div>

    <div class="pt-5">
      <p>
        <b>Overview:</b>
        <br />
        To enable our customers to get more value out of the Logixboard platform,
        we hosted a monthly webinar series called Logixboard University. In these
        sessions, we covered a variety of topics including feature releases, best
        practices, and sales enablement. After each webinar, we sent out a follow-up
        email and added the recording to our resource library.
      </p>
      <br />
      <p>
        Through this video series, we streamlined product education and created
        ongoing customer feedback loops to inform marketing decisions.
        Additionally, with our expanding library of video content, we enabled
        customers to self-serve educational content and reduce synchronous
        meetings with the Customer Success team.
      </p>
    </div>
  </div>
  <div class="pt-5">
    <p>
      <b>Collaborators:</b>
      VP of Customer Experience, Customer Success team, Graphic Designer
    </p>
  </div>
  <div class="pt-5">
    <p>
      <b>My responsibilities:</b>
      <ul>
        <li>
          • Ideate webinar topics based on customer feedback, product data, and
          discussions with the Customer Success team
        </li>
        <li>
          • Collaborate with internal SMEs to build presentations, outline
          scripts, and record webinars in Zoom Events
        </li>
        <li>
          • Create webinar promo assets and distribute across email, customer
          newsletter, and resource center
        </li>
        <li>• Execute post-webinar distribution and follow-up plan</li>
      </ul>
    </p>
  </div>
</BaseLayout>
