---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="logixboard-webinars">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">Logixboard Webinars</div>
      <a
        href="https://logixboard.com/on-demand-from-good-to-great-thank-you"
        target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//lxb-webinar-screenshot.png"
          alt="Logixboard Webinar Screenshot"
        /></a
      >
      <Stats
        stattitle1="Registrants"
        stat1="300+"
        desc1="per event"
        stattitle2="Attendance"
        stat2="33%"
        desc2="per event"
      />
    </div>

    <div class="pt-5">
      <p>
        <b>Overview:</b>
        <br />
        To increase awareness, generate leads, and establish a category in the freight
        customer experience space, we launched a series of thought leadership webinars
        aimed at engaging the community. We covered timely topics including driving
        revenue with tech, maximizing efficiency throughout the shipping process,
        winning forwarding bids, and leveraging data to expand business.
      </p>
      <br />
      <p>
        In order to create content that resonated with our audience, we reached
        out to partners and customers who could speak to the topic and
        collaborated with them to create an outline and record the webinar. From
        there, we promoted the event across our customer and prospect networks.
        After the event, we gated the recording on our website and leveraged
        recycled content to promote thought leadership across our email and
        social channels.
      </p>
      <br />
      <p>
        In building out a webinar strategy, we developed a channel to
        consistently generate new leads and nurture prospects through the
        funnel.
      </p>
    </div>
  </div>
  <div class="pt-5">
    <p>
      <b>Collaborators:</b>
      Director of Growth Marketing, Graphic Designer
    </p>
  </div>
  <div class="pt-5">
    <p>
      <b>My responsibilities:</b>
      <ul>
        <li>
          • Ideate titles and abstracts based on trending topics, industry sales
          cycle, and overarching content calendar
        </li>
        <li>
          • Coordinate outline, script, and recording sessions with webinar
          speakers
        </li>
        <li>
          • Promote webinar across a variety of channels, including partner
          newsletters, email outreach, LinkedIn, website pop-ups, and paid ads
        </li>
        <li>
          • Enable Sales and Customer Success teams to promote the event and
          maximize attendance
        </li>
        <li>
          • Strategize and execute post-webinar follow-up plan and ongoing
          nurture for webinar attendees
        </li>
      </ul>
    </p>
  </div>
</BaseLayout>
