---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="logixboard-blogs">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Logixboard Blogs & Lead Magnets
      </div>
      <a href="https://logixboard.com/blog/" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//lxb-blog.png"
          alt="Logixboard Blog Screenshot"
        /></a
      >
      <Stats
        stattitle1="Form fills"
        stat1="200+"
        desc1="per month"
        stattitle2="Website pageviews"
        stat2="12k"
        desc2="per month"
      />
    </div>

    <div>
      <p>
        <b>Overview:</b>
        <br />
        To establish Logixboard as an industry leader and increase brand awareness
        within the freight forwarding industry, we ran a blog calendar and released
        lead magnets focused on key content pillars that aligned with our product
        value proposition. Every content piece centered on one of the following:
        digitization, sales enablement, customer experience, and operational efficiency.
      </p>
      <br />
      <p>
        In addition to our core content pillars, we also created instructional
        content around CargoWise, our core software integration. These technical
        guides aimed to identify and target individuals who fit our ideal
        customer profile and covered features including <a
          class="link"
          href="https://logixboard.com/cargowise-training/downloadable-guide-to-quoting-with-cargowise-modules/"
          target="_blank">quoting</a
        >, <a
          class="link"
          href="https://logixboard.com/cargowise-training/cargowise-workflow-guide/"
          target="_blank">workflows</a
        >, and more.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborators:</b>
        Director of Growth Marketing, Graphic Designer, Growth Marketing Specialist
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Outline and execute blog calendar with relevant topics centered on
            content pillars and ongoing marketing campaigns
          </li>
          <li>
            • Organize regular touch bases with internal subject matter experts
            to discuss current events and trending topics in the industry
          </li>
          <li>
            • Create technical white papers and gated templates to generate
            leads and establish authority in the freight forwarding space
          </li>
          <li>
            • Build and execute content distribution strategy across email,
            website, and LinkedIn
          </li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
