---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="lxb-customer-newsletter">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Logixboard Customer Newsletter
      </div>
      <img
        class="p-10"
        src="/emily-content-portfolio-pages//lxb-customer-newsletter.png"
        alt="Logixboard Help Center Screenshot"
      />
      <Stats
        stattitle1="Newsletter subs"
        stat1="650+"
        desc1="across customer base"
        stattitle2="Open rate"
        stat2="20%"
        desc2="per email"
      />
    </div>

    <div class="pt-5">
      <p>
        <b>Overview:</b>
        <br />
        To establish an ongoing channel to promote thought leadership and deliver
        resources, we launched a monthly newsletter dedicated to customer communications.
      </p>
      <br />
      <p>
        In each issue, we featured an editorial from an internal leader, as well
        as relevant announcements, product highlights, and resources. In
        addition to increasing customer engagement, this initiative also helped
        improve internal alignment.
      </p>
    </div>
  </div>
  <div class="pt-5">
    <p>
      <b>Collaborators:</b>
      Graphic Designer, Director of CX
    </p>
  </div>
  <div class="pt-5">
    <p>
      <b>Tools:</b>
      Figma, Stripo, HubSpot
    </p>
  </div>
  <div class="pt-5">
    <p>
      <b>My responsibilities:</b>
      <ul>
        <li>
          • Collaborate with Graphic Designer to build newsletter template in
          Figma
        </li>
        <li>
          • Build initial template and ongoing drafts in the Stripo email design
          platform
        </li>
        <li>
          • Coordinate with company leadership and the Product Marketing team to
          draft content for each edition
        </li>
      </ul>
    </p>
  </div>
</BaseLayout>
