---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
import BlogCard from "src/components/BlogCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="lxb-linkedin">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">Logixboard LInkedIn</div>
      <a href="https://www.linkedin.com/company/logixboard/" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//lxb-linkedin.png"
          alt="Logixboard LinkedIn Page"
        /></a
      >
      <Stats
        stattitle1="Followers"
        stat1="5.6k"
        desc1="↗︎ 3k (115%)"
        stattitle2="Page views"
        stat2="1.6k"
        desc2="per month"
      />
    </div>
    <div>
      <p>
        <b>Overview:</b>
        <br />
        We set out to establish our LinkedIn page as a channel to spotlight the brand
        and connect with the freight forwarding community. To achieve this, we designed
        a social calendar aimed at promoting our messaging and engaging our audience.
      </p>
      <br />
      <p>
        We centered our content on the revenue and efficiency benefits of
        implementing customer experience tech as a freight forwarder. This
        included customer quotes, webinar and podcast clips, news stories, and
        industry data.
      </p>
      <br />
      <p>
        We also leveraged this channel to promote our product releases,
        webinars, and participation at in-person events. This helped build
        awareness and drive traffic to our online and offline spaces.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborators:</b>
        Graphic Designer, Growth Marketing Specialist
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Outline and execute social media calendar to engage freight
            forwarding audience based on trending topics, upcoming events, and
            recent releases
          </li>
          <li>
            • Build LinkedIn promotional suites for product announcements,
            webinars, and in-person events
          </li>
          <li>
            • Collaborate with Graphic Designer to build on-brand graphics and
            templates to maximize engagement for each post
          </li>
        </ul>
      </p>
    </div>
    <div>
      <div class="text-3xl w-full font-bold mb-5 pt-10">Example Posts</div>
    </div>
    <div class="flex flex-row gap-6">
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7039673703881707520"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7050166118224723968"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7094306276087615488"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
    </div>
  </div>
</BaseLayout>
