---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="modives-onboarding">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Modives Onboarding Experience
      </div>
      <img
        class="p-10"
        src="/emily-content-portfolio-pages//modives-onboarding.png"
        alt="CheckMy Driver University Screenshot"
      />
    </div>

    <div>
      <p>
        <b>Overview:</b>
        <br />
        The product team was facing challenges with low end user adoption and long
        time to onboard. To increase adoption and reduce burden on the Support team,
        we launched an initiative to solve this by reworking three key areas: customer
        enablement, educational resources, and automated communications.
      </p>
      <br />
      <p>
        First, we developed onboarding resources to emphasize the importance of
        customer involvement in end user onboarding, as well as provide tips and
        instructions to maximize adoption across your customer base.
      </p>
      <br />
      <p>
        We also developed new resources to guide users through relevant features
        and unblock key steps in the verification process, including one-pagers,
        a chatbot, and a series of walkthrough videos.
      </p>
      <br />
      <p>
        Finally, we reworked our automated communications to provide an
        intuitive user experience. In order to maximize completion rates, we
        tweaked triggers and edited messaging based on customer feedback and
        user drop-off points.
      </p>
      <br />
      <p>
        This was an ongoing project, but over time, we saw a decline in support
        requests and a rise in email open rates, up to an average of 70%.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborators:</b>
        CMO, CPO, Design team, Engineering team
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Tools:</b>
        Canva, Eleven Labs, Vimeo, SendGrid, FigJam
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Consult CPO and organize internal product documentation to create
            customer-facing educational resources
          </li>
          <li>
            • Develop repeatable templates to streamline creation of walkthrough
            videos and one-pagers
          </li>
          <li>
            • Coordinate with CPO and engineering team to audit all automated
            communications and reconcile with target state experience
          </li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
