---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
import BlogCard from "src/components/BlogCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="modives-linkedin">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">Modives LInkedIn</div>
      <a href="https://www.linkedin.com/company/modives/" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//modives-linkedin.png"
          alt="Modives LinkedIn Page"
        /></a
      >
      <Stats
        stattitle1="Followers"
        stat1="2.9k"
        desc1="↗︎ 2k (221%)"
        stattitle2="Newsletter subs"
        stat2="1k"
        desc2=""
      />
    </div>
    <div>
      <p>
        <b>Overview:</b>
        <br />
        As an early stage startup, we aimed to use the company LinkedIn to amplify
        the brand and establish Modives as an authority in the insurance verification
        space.
      </p>
      <br />
      <p>
        To do so, we developed a social media calendar of 3-5 posts per week
        with a balance of property and auto content, including news, product
        education, memes, and thought leadership.
      </p>
      <br />
      <p>
        We also set out to drive engagement and nurture prospects by launching
        <a
          href="https://www.linkedin.com/newsletters/auto-finance-insider-7241491520694943746/"
          >Auto Finance Insider</a
        >, a monthly LinkedIn newsletter. In each issue, we delivered recent
        news stories for auto sales and lending professionals, as well as
        company updates and resources.
      </p>
      <br />
      <p>
        Finally, we leveraged industry connections to grow our page following
        across our target demographics. In addition to collaborating with
        thought leaders and integration partners, we also used direct outreach
        tactics to gain followers using executives’ networks.
      </p>
      <br />
      <p>
        As the result of these efforts, we gained ~2k followers in our target
        personas within one year.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborators:</b>
        CMO, Design team
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Conduct periodic research into industry happenings and competitor
            activity
          </li>
          <li>
            • Develop and execute content calendar of 3-5 weekly posts and one
            monthly newsletter
          </li>
          <li>
            • Coordinate with partners and thought leaders to create and amplify
            collaboration posts
          </li>
        </ul>
      </p>
    </div>
    <div>
      <div class="text-3xl w-full font-bold mb-5 pt-10">Example Posts</div>
    </div>
    <div class="flex flex-row gap-6">
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7336036955308101633"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7344115104688340992"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
      <iframe
        src="https://www.linkedin.com/embed/feed/update/urn:li:share:7295894500806123520"
        height="534"
        width="504"
        frameborder="0"
        allowfullscreen=""
        title="Embedded post"></iframe>
    </div>
  </div>
</BaseLayout>
