---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "src/components/BlogCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="my-writing">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Modives</div>
  </div>
  <div class="flex flex-row gap-6">
    <BlogCard
      title="Why You Need to Require Renters Insurance in Your Lease"
      img="/require-renters-insurance.webp"
      alt="Renter signing a lease"
      url="https://modives.com/blog/why-you-need-to-require-renters-insurance-in-your-lease/"
      target="_blank"
    />
    <BlogCard
      title="Auto Repossessions Are Up in 2024 – What That Means for Lenders"
      img="/auto-repossessions.webp"
      alt="Cars lined up in a lot"
      url="https://modives.com/blog/auto-repossessions-are-up-in-2024/"
      target="_blank"
    />
    <BlogCard
      title="What Is Plaid for Insurance? Understanding the Insurance Verification Tech Stack"
      img="/plaid-for-insurance.webp"
      alt="CheckMy Driver app screens"
      url="https://modives.com/blog/plaid-for-insurance/"
      target="_blank"
    />
  </div>
  <div class="divider my-0 py-6"></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Auto Quote Tracker</div>
  </div>
  <div class="flex flex-row gap-6">
    <BlogCard
      title="The Complete Guide to Car Insurance Discounts"
      img="/car-insurance-discounts.png"
      alt="Woman on her laptop"
      url="https://autoquotetracker.com/the-complete-guide-to-car-insurance-discounts/"
      target="_blank"
    />
    <BlogCard
      title="How to Get Car Insurance Without a License"
      img="/car-insurance-without-license.png"
      alt="Man on the phone leaning against his car"
      url="https://autoquotetracker.com/how-to-get-car-insurance-without-a-license/"
      target="_blank"
    />
    <BlogCard
      title="Is Usage-Based Insurance Right for You?"
      img="/usage-based-insurance.png"
      alt="Interior of a car with a telematics device open"
      url="https://autoquotetracker.com/is-usage-based-insurance-right-for-you/"
      target="_blank"
    />
  </div>
  <div class="divider my-0 py-6"></div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Logixboard</div>
  </div>
  <div class="flex flex-row gap-6">
    <BlogCard
      title="Fueling Customer Expansion With Logixboard: A How-To Guide"
      img="/fueling-customer-expansion.webp"
      alt="Shipping dock with container cranes"
      url="https://logixboard.com/tech-data-management/3pl-resources/fueling-customer-expansion-with-logixboard/"
      target="_blank"
    />
    <BlogCard
      title="Recession-Proofing Your Business as a Freight Forwarder"
      img="/recession-proofing-business.webp"
      alt="Person calculating expenses at a desk"
      url="https://logixboard.com/logistics-business/3pl-resources/recession-proofing-your-business-as-a-freight-forwarder/"
      target="_blank"
    />
    <BlogCard
      title="How Technology Can Power Your Carrier and Shipper Relationships"
      img="/power-shipper-relationships.webp"
      alt="Team of people having a meeting"
      url="https://logixboard.com/logistics-business/3pl-resources/how-technology-can-power-your-carrier-and-shipper-relationships/"
      target="_blank"
    />
  </div>
  <div class="divider my-0 py-6"></div>
  <div class="pt-5">
    <div>
      <div class="text-3xl w-full font-bold mb-5">Paved</div>
    </div>
    <div class="flex flex-row gap-6">
      <BlogCard
        title="How To Sell a Newsletter: 5 Lessons From Profitable Publishers"
        img="/how-to-sell-a-newsletter.png"
        alt="How to Sell a Newsletter Featured Image"
        url="https://www.paved.com/blog/how-to-sell-your-newsletter-5-lessons-from-real-publishers/"
        target="_blank"
      />
      <BlogCard
        title="A Marketer’s Guide to Programmatic Advertising"
        img="/programmatic-advertising.png"
        alt="Advertising factory illustration"
        url="https://www.paved.com/blog/a-marketers-guide-to-programmatic-advertising/"
        target="_blank"
      />
      <BlogCard
        title="The Gmail Unsubscribe Button: Everything You Should Know"
        img="/gmail-unsubscribe-button.png"
        alt="Finger pressing a button"
        url="https://www.paved.com/blog/everything-you-need-to-know-about-the-gmail-unsubscribe-button/"
        target="_blank"
      />
    </div>
    <div class="divider my-0 py-6"></div>
    <div class="pt-5">
      <div class="text-3xl w-full font-bold mb-5">Sponsored Articles</div>
    </div>
    <div class="flex flex-row gap-6">
      <BlogCard
        title="How Newsletter Sponsorships Can Improve Your Marketing Strategy"
        img="/how-newsletter-sponsorships.webp"
        alt="Email, megaphone, and analytics in front of a computer"
        url="https://www.searchenginejournal.com/paved-newsletter-sponsorships-strategy/427897/"
        target="_blank"
      />
      <BlogCard
        title="How To Monetize Your Newsletter With Sponsorships"
        img="/how-to-monetize-your-newsletter.webp"
        alt="Email with a money sign"
        url="https://www.newslettercrew.com/blog/how-to-monetize-your-newsletter-with-sponsorships"
        target="_blank"
      />
      <BlogCard
        title="Why Newsletter Sponsorships Are the Future of Targeted Advertising"
        img="/why-newsletter-sponsorships-are.webp"
        alt="Woman typing on a keyboard"
        url="https://www.marketingdive.com/spons/why-newsletter-sponsorships-are-the-future-of-targeted-advertising/616787/"
        target="_blank"
      />
    </div>
    <div class="divider my-0 py-6"></div>
    <div class="pt-5">
      <div class="text-3xl w-full font-bold mb-5">Scholarships360</div>
    </div>
    <div class="flex flex-row gap-6">
      <BlogCard
        title="College Waitlist: What Students Need to Know"
        img="/college-waitlist.png"
        alt="Woman typing on a keyboard"
        url="https://scholarships360.org/college-admissions/what-does-waitlisted-mean/"
        target="_blank"
      />
      <BlogCard
        title="How To Create a Budget as a College Student"
        img="/create-a-budget.png"
        alt="Woman typing on a keyboard"
        url="https://scholarships360.org/personal-finance/how-to-create-a-budget-as-a-college-student/"
        target="_blank"
      />
      <BlogCard
        title="How To Make Money Through a Side Hustle"
        img="/make-money-side-hustle.png"
        alt="Woman typing on a keyboard"
        url="https://scholarships360.org/careers/how-to-make-money-through-a-side-hustle/"
        target="_blank"
      />
    </div>
    <div class="divider my-0 py-6"></div>
    <div class="pt-5">
      <div class="text-3xl w-full font-bold mb-5">Candor</div>
    </div>
    <div class="flex flex-row gap-6">
      <BlogCard
        title="The Dangers of Biohacking: Nootropics in Silicon Valley"
        img="/biohacking.png"
        alt="Woman typing on a keyboard"
        url="https://candor.co/articles/tech-careers/the-dangers-of-biohacking-nootropics-in-silicon-valley"
        target="_blank"
      />
      <BlogCard
        title="Employee Stock Options: What You Need to Know"
        img="/employee-stock-options.png"
        alt="Woman typing on a keyboard"
        url="https://candor.co/articles/salary-negotiation/employee-stock-options-what-you-need-to-know"
        target="_blank"
      />
      <BlogCard
        title="5 Pre-IPO Companies to Send Your Resume to in 2021"
        img="/pre-ipo-companies.png"
        alt="Woman typing on a keyboard"
        url="https://candor.co/articles/interview-prep/5-pre-ipo-companies-to-send-your-resume-to"
        target="_blank"
      />
    </div>
    <div class="divider my-0 py-6"></div>
    <div class="pt-5">
      <div class="text-3xl w-full font-bold mb-5">The Mom Project</div>
    </div>
    <div class="flex flex-row gap-6">
      <BlogCard
        title="Writing the Perfect Post-Interview Thank You Note"
        img="/post-interview-thank-you.webp"
        alt="Woman typing on a keyboard"
        url="https://community.themomproject.com/the-study/writing-interview-thank-you"
        target="_blank"
      />
      <BlogCard
        title="Employee Resource Groups (ERG) Guide"
        img="/erg-guide.png"
        alt="Woman typing on a keyboard"
        url="https://community.themomproject.com/the-study/employee-resource-groups-erg-guide"
        target="_blank"
      />
      <BlogCard
        title="Creating Your Resume with Resume Rev"
        img="/resume-rev.png"
        alt="Woman typing on a keyboard"
        url="https://community.themomproject.com/the-study/resume-rev"
        target="_blank"
      />
    </div>
  </div>
</BaseLayout>
