---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="paved-seo">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Paved SEO-Driven Content Calendar
      </div>
      <a href="https://www.paved.com/blog/" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//paved-blog.png"
          alt="Paved Blog SEO Content"
        /></a
      >
      <Stats
        stattitle1="Monthly SEO clicks"
        stat1="5.09k"
        desc1="↗︎ 3.25k (176%)"
        stattitle2="Organic keywords"
        stat2="5.06k"
        desc2="↗︎ 3.42k (209%)"
      />
    </div>

    <div>
      <p>
        <b>Overview:</b>
        <br />
        To build awareness and establish Paved as an authority in the emerging newsletter
        sponsorship category, we launched an SEO-driven blog strategy to secure high
        SERP rankings and maximize organic traffic.
      </p>
      <br />
      <p>
        Using tools like Spyfu and Clearscope, we identified keywords related to
        our product category, including “email advertising,” “newsletter
        advertising,” and “newsletter sponsorship.” Then, we targeted them with
        pillar pages on the Paved blog and sponsored articles in relevant
        publications.
      </p>
      <br />
      <p>
        Additionally, to bolster our topic coverage and establish authority in
        the newsletter space, we created ungated guides around adjacent
        high-opportunity long tail keywords, including “email referral program,”
        “email marketing conferences,” and “email open rates.”
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Develop and execute a content calendar based on audience interest
            and SEO opportunities
          </li>
          <li>
            • Source and interview subject matter experts and well-known thought
            leaders within the newsletter space
          </li>
          <li>
            • Collaborate with relevant media outlets to deliver high-quality
            sponsored content that would resonate with shared audiences across
            supply and demand sides of the marketplace
          </li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
