---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="paved-community">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        Paved Community Building Content
      </div>
      <a href="https://www.paved.com/blog/" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//paved-community.png"
          alt="Paved Community Blogs"
        /></a
      >
      <Stats
        stattitle1="Viral articles"
        stat1="2"
        desc1="across two series"
        stattitle2="Newsletter subs"
        stat2="800+"
        desc2="over six months"
      />
    </div>

    <div>
      <p>
        <b>Overview:</b>
        <br />
        To improve branding and engagement across our target audience, we launched
        a newsletter and blog posts featuring advice and stories from members of
        the creator community. We launched two series: <i>My First Ad</i> and <i
          >How I Sold My Newsletter</i
        >.
      </p>
      <br />
      <p>
        In each of these, we highlighted newsletter founders and their
        experiences in the industry. Both series gained traction within our
        audience base, with two posts getting featured in relevant newsletters.
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>Collaborator:</b>
        Partnerships Manager
      </p>
    </div>
    <div class="pt-5">
      <p>
        <b>My responsibilities:</b>
        <ul>
          <li>
            • Edit and build community-focused blog posts using existing
            interview transcripts
          </li>
          <li>
            • Coordinate with newsletter creators to approve and publish blog
            posts
          </li>
          <li>
            • Write, build, and schedule monthly newsletter for an audience of
            newsletter publishers
          </li>
        </ul>
      </p>
    </div>
  </div>
</BaseLayout>
