---
import BaseLayout from "../layouts/BaseLayout.astro";
import Stats from "src/components/Stats.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="the-study">
  <div>
    <div class="text-center">
      <div class="text-3xl w-full font-bold mb-5">
        The Study by The Mom Project
      </div>
      <a href="https://community.themomproject.com/library" target="_blank"
        ><img
          class="p-10"
          src="/emily-content-portfolio-pages//the-mom-project.png"
          alt="Screenshot of The Study by The Mom Project"
        /></a
      >
    </div>

    <div class="pt-5">
      <p>
        <b>Overview:</b>
        <br />
        To increase job seekers on the talent platform following a Series B funding
        round and to empower a community of working moms, The Mom Project launched
        an ungated resource center called The Study.
      </p>
      <br />
      <p>
        This digital hub featured educational articles for moms who do paid
        work, addressing challenges facing women and parents in the workforce.
        For the initial launch, we created content including Writing Your Resume
        to Sell Your Story, How to Explain Your Mom Pause, and How to Prepare
        for a Phone Interview.
      </p>
    </div>
  </div>
  <div class="pt-5">
    <p>
      <b>Collaborators:</b>
      Marketing Manager, Graphic Design team
    </p>
  </div>
  <div class="pt-5">
    <p>
      <b>My responsibilities:</b>
      <ul>
        <li>
          • Create well-researched resources for moms entering and navigating
          the paid workforce
        </li>
        <li>
          • Complete briefs to request visual elements for each article from the
          design team
        </li>
        <li>
          • Review and edit team members’ drafts to align voice and style across
          the brand
        </li>
        <li>
          • Support the Marketing Manager in completing logistics tasks ahead of
          the launch, including writing metadata and selecting a stock image
          provider
        </li>
      </ul>
    </p>
  </div>
</BaseLayout>
